* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body  {
    background-image: url("./images/wallpaper.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.font-generator {
    display: flex;
}

#down {
        
}

#up {

}

#output {
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}